<div class="comment-box">
  <div class="upper-comment">
    <div class="comment-name">
      <%= message.user.name %>
    </div>
    <div class="comment-time">
      <%=  l message.created_at%>
    </div>
    </div>
    <div class="comment">
      <%= message.content%>
    </div>
</div>