<div class="side-top">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-rooms">
  <div class="room">
    <div class="test-room">
      <a href="#">testroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="test-room">
      <a href="#">testroom2</a>
    </div>
  </div>
</div>
